{% extends 'DLVWebsiteBundle::base.html.twig' %}

            {% block content %}

                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title"><a href="#">Concept</a></h2>
                            </div>
                            <div class="panel-body">
                                <p>* Concept text *</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title"><a href="#">Behind The Scenes</a></h2>
                            </div>
                            <div class="panel-body">
                                <p>* Behind The Scenes text *</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title"><a href="#">News</a></h2>
                            </div>
                            <div class="panel-body" id="facebookfeed">
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block scripts %}
                
                <script src="{{ url('dlv_website_homepage') }}bundles/dlvwebsite/js/facebookfeed.js"></script>
            {% endblock %}